@import '../../../styles/variables.css';

:host {
  display: block;
}

.home {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.left {
  padding: 24px 24px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  align-items: start;
  gap: 24px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.restoNameAndDate {
  line-height: 140%;
}

.restoName {
  color: white;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 4px;
}

.todaysDate {
  font-size: 16px;
  color: var(--primary-white);
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  border: 1px solid var(--blue-border);
  background-color: var(--input-bg-blue);
  border-radius: var(--radius-mini);
  gap: 8px;
  width: 220px;
  height: 48px;
}

.searchIcon {
  width: 20px;
  height: 20px;
}

.searchIconImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

.searchInput {
  height: 100%;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--primary-white);
}

.searchInput::placeholder {
  color: var(--tertiary-blue-text);
  font-size: 14px;
  line-height: 140%;
}

.searchInput::-webkit-search-cancel-button {
  display: none;
}

.categories {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 32px;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  color: white;
  position: relative;
  width: 100%;
}

.categories::after {
  position: absolute;
  content: "";
  background: var(--blue-border);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.category {
  padding-bottom: 13px;
  cursor: pointer;
}

.activeCat {
  color: var(--primary-orange);
  position: relative;
  transition: ease 0.3s;
}

.activeCat::after {
  content: "";
  background: var(--primary-orange);
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 50%;
  height: 3px;
  border-radius: 3px;
  z-index: 2;
  transition: all 3s ease-in-out;
}

.parag {
  color: white;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  padding: 10px 0;
  margin-bottom: 34px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 28px;
  row-gap: 58px;
}

.card {
  background-color: var(--primary-blue-dark);
  padding: 114px 24px 24px;
  border-radius: var(--radius-max);
  position: relative;
  font-size: 14px;
  color: white;
  line-height: 140%;
  text-align: center;
  /* min-width: 192px; */
}

.prodPhoto {
  position: absolute;
  top: -34px;
  left: 50%;
  transform: translateX(-50%);
  width: 132px;
  height: 132px;
}

.prodImg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: contain;
}

.prodName {
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 8px;
}

.prodPrice {
  display: block;
  margin-bottom: 4px;
}

.prodPrice::first-letter {
  margin-right: 4px;
}

.prodStock {
  color: var(--tertiary-blue-text);
}