<div class="sideDiv">
    <div class="sideItem">
        <div class="optionIcon">
            <img class="optionIconImg" src="../../../../../assets/icons/Appereance.svg" alt="">
        </div>
        <div>
            <div class="title">Appearance</div>
            <div class="description">Dark and Light mode, Font size</div>
        </div>
    </div>
    <div class="sideItem">
        <div class="optionIcon">
            <img class="optionIconImg" src="../../../../../assets/icons/Restaurant.svg" alt="">
        </div>
        <div>
            <div class="title">Your Restaurant</div>
            <div class="description">Dark and Light mode, Font size</div>
        </div>
    </div>
    <div class="sideItem">
        <div class="optionIcon">
            <img class="optionIconImg" src="../../../../../assets/icons/discount-1.svg" alt="">
        </div>
        <div>
            <div class="title">Products Management</div>
            <div class="description">Manage your product, pricing, etc</div>
        </div>
    </div>
    <div class="sideItem">
        <div class="optionIcon">
            <img class="optionIconImg" src="../../../../../assets/icons/Notification.svg" alt="">
        </div>
        <div>
            <div class="title">Notifications</div>
            <div class="description">Customize your notifications</div>
        </div>
    </div>
    <div class="sideItem">
        <div class="optionIcon">
            <img class="optionIconImg" src="../../../../../assets/icons/Security.svg" alt="">
        </div>
        <div>
            <div class="title">Security</div>
            <div class="description">Configure Password, PIN, etc</div>
        </div>
    </div>
    <div class="sideItem">
        <div class="optionIcon">
            <img class="optionIconImg" src="../../../../../assets/icons/About Us.svg" alt="">
        </div>
        <div>
            <div class="title">About Us</div>
            <div class="description">Find out more about Posly</div>
        </div>
    </div>
</div>