<div class="sideDiv">
    <div class="sideItem" [class.activeOption]="selectedPage() === 'appearance'" (click)="selectedPage.set('appearance')">
        <div class="optionIcon">
            <img class="optionIconImg" src="../../../../../assets/icons/Appereance.svg" alt="">
        </div>
        <div>
            <div class="title">Appearance</div>
            <div class="description">Dark and Light mode, Font size</div>
        </div>
    </div>
    <div class="sideItem" [class.activeOption]="selectedPage() === 'resto'" (click)="selectedPage.set('resto')">
        <div class="optionIcon">
            <img class="optionIconImg" src="../../../../../assets/icons/Restaurant.svg" alt="">
        </div>
        <div>
            <div class="title">Your Restaurant</div>
            <div class="description">Dark and Light mode, Font size</div>
        </div>
    </div>
    <div class="sideItem" [class.activeOption]="selectedPage() === 'management'" (click)="selectedPage.set('management')">
        <div class="optionIcon">
            <img class="optionIconImg" [src]="selectedPage() === 'management' ? '../../../../../assets/icons/Discount (2).svg' : '../../../../../assets/icons/discount-1.svg'" alt="">
        </div>
        <div>
            <div class="title">Products Management</div>
            <div class="description">Manage your product, pricing, etc</div>
        </div>
    </div>
    <div class="sideItem" [class.activeOption]="selectedPage() === 'notification'" (click)="selectedPage.set('notification')">
        <div class="optionIcon">
            <img class="optionIconImg" src="../../../../../assets/icons/Notification.svg" alt="">
        </div>
        <div>
            <div class="title">Notifications</div>
            <div class="description">Customize your notifications</div>
        </div>
    </div>
    <div class="sideItem" [class.activeOption]="selectedPage() === 'security'" (click)="selectedPage.set('security')">
        <div class="optionIcon">
            <img class="optionIconImg" src="../../../../../assets/icons/Security.svg" alt="">
        </div>
        <div>
            <div class="title">Security</div>
            <div class="description">Configure Password, PIN, etc</div>
        </div>
    </div>
    <div class="sideItem" [class.activeOption]="selectedPage() === 'about'" (click)="selectedPage.set('about')">
        <div class="optionIcon">
            <img class="optionIconImg" src="../../../../../assets/icons/About Us.svg" alt="">
        </div>
        <div>
            <div class="title">About Us</div>
            <div class="description">Find out more about Posly</div>
        </div>
    </div>
</div>