<div class="sideDiv">
    <div class="sideItem">
        <div class="optionIcon">
            <img class="optionIconImg" src="../../../../../assets/icons/Appereance.svg" alt="">
        </div>
        <div>
            <div class="title">Appearance</div>
            <div class="description">desc</div>
        </div>
    </div>
    <div class="sideItem">
        <div class="optionIcon">
            <img class="optionIconImg" src="../../../../../assets/icons/Appereance.svg" alt="">
        </div>
        <div>
            <div class="title">Appearance</div>
            <div class="description">Dark and Light mode, Font size</div>
        </div>
    </div>
    <div class="sideItem">
        <div class="optionIcon">
            <img class="optionIconImg" src="../../../../../assets/icons/Appereance.svg" alt="">
        </div>
        <div>
            <div class="title">Appearance</div>
            <div class="description">desc</div>
        </div>
    </div>
    <div class="sideItem">
        <div class="optionIcon">
            <img class="optionIconImg" src="../../../../../assets/icons/Appereance.svg" alt="">
        </div>
        <div>
            <div class="title">Appearance</div>
            <div class="description">desc</div>
        </div>
    </div>
    <div class="sideItem">
        <div class="optionIcon">
            <img class="optionIconImg" src="../../../../../assets/icons/Appereance.svg" alt="">
        </div>
        <div>
            <div class="title">Appearance</div>
            <div class="description">desc</div>
        </div>
    </div>
    <div class="sideItem">
        <div class="optionIcon">
            <img class="optionIconImg" src="../../../../../assets/icons/Appereance.svg" alt="">
        </div>
        <div>
            <div class="title">Appearance</div>
            <div class="description">desc</div>
        </div>
    </div>
</div>