<div class="orders">
    <div class="ordersHead">Orders #34562</div>
    <div class="orderOptions">
        <app-button [isActive]="activeIndex() === 0" (click)="activeIndex.set(0)" buttonContent="Dine in"/>
        <app-button [isActive]="activeIndex() === 1" (click)="activeIndex.set(1)" buttonContent="To go"/>
        <app-button [isActive]="activeIndex() === 2" (click)="activeIndex.set(2)" buttonContent="delivery"/>
    </div>
    <div class="tableHeader">
        <div>Item</div>
        <div class="tabHeadRight">
            <div>Qty</div>
            <div>Price</div>
        </div>
    </div>
    <div class="ordersTable">
        <div class="foodType">
            <div class="foodUp">
                <div class="foodDetails">
                    <div class="foodPhoto"><img class="foodPhotoImg" src="assets/food1.png" alt="Chosen Food's Photo"></div>
                    <div class="foodInfo">
                        <div class="foodName">Spicy seasoned seafood noodles</div>
                        <span class="foodMenuPrice">{{2.29 | currency}}</span>
                    </div>
                </div>
                <div class="foodCalc">
                    <input class="foodQty" type="number" value="1">
                    <span class="foodCalcPrice">{{4.58 | currency}}</span>
                </div>
            </div>
            <div class="foodDown">
                <app-input placeholder="Order Note..."/>
                <button class="deleteBtn"><img class="deleteBtnImg" src="assets/Trash.svg" alt="Delete"></button>
            </div>
        </div>
        <div class="foodType">
            <div class="foodUp">
                <div class="foodDetails">
                    <div class="foodPhoto"><img class="foodPhotoImg" src="assets/food1.png" alt="Chosen Food's Photo"></div>
                    <div class="foodInfo">
                        <div class="foodName">Spicy seasoned seafood noodles</div>
                        <span class="foodMenuPrice">{{2.29 | currency}}</span>
                    </div>
                </div>
                <div class="foodCalc">
                    <input class="foodQty" type="number" value="1">
                    <span class="foodCalcPrice">{{4.58 | currency}}</span>
                </div>
            </div>
            <div class="foodDown">
                <app-input placeholder="Order Note..."/>
                <button class="deleteBtn"><img class="deleteBtnImg" src="assets/Trash.svg" alt="Delete"></button>
            </div>
        </div>
        <div class="foodType">
            <div class="foodUp">
                <div class="foodDetails">
                    <div class="foodPhoto"><img class="foodPhotoImg" src="assets/food1.png" alt="Chosen Food's Photo"></div>
                    <div class="foodInfo">
                        <div class="foodName">Spicy seasoned seafood noodles</div>
                        <span class="foodMenuPrice">{{2.29 | currency}}</span>
                    </div>
                </div>
                <div class="foodCalc">
                    <input class="foodQty" type="number" value="1">
                    <span class="foodCalcPrice">{{4.58 | currency}}</span>
                </div>
            </div>
            <div class="foodDown">
                <app-input placeholder="Order Note..."/>
                <button class="deleteBtn"><img class="deleteBtnImg" src="assets/Trash.svg" alt="Delete"></button>
            </div>
        </div>
        <div class="foodType">
            <div class="foodUp">
                <div class="foodDetails">
                    <div class="foodPhoto"><img class="foodPhotoImg" src="assets/food1.png" alt="Chosen Food's Photo"></div>
                    <div class="foodInfo">
                        <div class="foodName">Spicy seasoned seafood noodles</div>
                        <span class="foodMenuPrice">{{2.29 | currency}}</span>
                    </div>
                </div>
                <div class="foodCalc">
                    <input class="foodQty" type="number" value="1">
                    <span class="foodCalcPrice">{{4.58 | currency}}</span>
                </div>
            </div>
            <div class="foodDown">
                <app-input placeholder="Order Note..."/>
                <button class="deleteBtn"><img class="deleteBtnImg" src="assets/Trash.svg" alt="Delete"></button>
            </div>
        </div>
    </div>
    <div class="totalCalc">
        <div class="discountDiv">
            <div class="discountHead">Discount</div>
            <div class="discountPrice">{{0 | currency}}</div>
        </div>
        <div class="discountDiv">
            <div class="discountHead">Sub total</div>
            <div class="discountPrice">{{21.03 | currency}}</div>
        </div>
    </div>
    <button class="orderSubmitBtn">Continue to Payment</button>
</div>