<div class="sideBar">
        <a routerLink="/" class="logo">
                <img class="logoIcon" src="assets/logo.svg" alt="Logo">
        </a>
        <div class="sideButtons">
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" #homeLink="routerLinkActive" class="navLink">
                        <img class="navIcon" [src]="homeLink.isActive ? 'assets/HomeWhite.svg' : 'assets/HomeOrange.svg'" alt="Home">
                </a>
                <a routerLink="/discount" routerLinkActive="active" class="navLink">
                        <img class="navIcon" src="assets/Discount.svg" alt="Discount">
                </a>
                <a routerLink="/dashboard" routerLinkActive="active" class="navLink">
                        <img class="navIcon" src="assets/Dashboard.svg" alt="Dashboard">
                </a>
                <a routerLink="/messages" routerLinkActive="active" class="navLink">
                        <img class="navIcon" src="assets/Message.svg" alt="Message">
                </a>
                <a routerLink="/notifications" routerLinkActive="active" class="navLink">
                        <img class="navIcon" src="assets/Notification.svg" alt="Notification">
                </a>
                <a routerLink="/settings" routerLinkActive="active" class="navLink">
                        <img class="navIcon" src="assets/Setting.svg" alt="Setting">
                </a>
                <a routerLink="/logout" routerLinkActive="active" class="navLink">
                        <img class="logOutIcon" src="assets/LogOut.svg" alt="LogOut">
                </a>
        </div>
</div>