@import "../../../styles/variables.css";

:host {
    width: 104px;
    display: block;
    flex-direction: column;
    flex-shrink: 0;
    height: 100vh;
    background-color: var(--primary-blue-dark);
    border-top-right-radius: var(--radius-max);
    border-bottom-right-radius: var(--radius-max);
}

.sideBar {
    padding: 12px 0 0 12px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo {
    border-radius: var(--radius-mid);
    padding: 12px 24px 16px 12px;
    width: max-content;
    cursor: pointer;
}

.logoIcon {
    width: 56px;
    height: 56px;
    background-color: color-mix(in srgb, var(--secondary-orange) 26%, transparent);
    border-radius: var(--radius-mid);
    padding: 8px;
    /* opacity: 26%; */
}

.sideButtons {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex: 1;
    justify-content: space-between;
    /* margin-bottom: 12px; */
    overflow-y: auto;
    height: 100%;
}

.active {
    background-color: var(--secondary-blue-light);
    border-top-left-radius: var(--radius-mid);
    border-bottom-left-radius: var(--radius-mid);
}

.navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 40px 25px 25px;
    cursor: pointer;
}

.navIcon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    flex-shrink: 0;
}

.logOut {
    /* padding: 16px 30px; */
    cursor: pointer;
    margin-top: auto;
}

.logOutIcon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    object-fit: contain;
}