<div class="sideBar">
        <div class="logo" (click)="activeLink.set('home')"><img class="logoIcon" src="/../../../assets/logo.svg"
                        alt="Logo"></div>
        <div class="sideButtons">
                <div [class.active]="activeLink() === 'home'" (click)="activeLink.set('home')" class="navLink"><img
                                class="navIcon"
                                [src]="activeLink() === 'home' ? '../../../assets/HomeWhite.svg' : '../../../assets/HomeOrange.svg'"
                                alt="Home"></div>
                <div [class.active]="activeLink() === 'discount'" (click)="activeLink.set('discount')" class="navLink">
                        <img class="navIcon" src="../../../assets/Discount.svg" alt="Discount"></div>
                <div [class.active]="activeLink() === 'dashboard'" (click)="activeLink.set('dashboard')"
                        class="navLink"><img class="navIcon" src="../../../assets/Dashboard.svg" alt="Dashboard"></div>
                <div [class.active]="activeLink() === 'message'" (click)="activeLink.set('message')" class="navLink">
                        <img class="navIcon" src="../../../assets/Message.svg" alt="Message"></div>
                <div [class.active]="activeLink() === 'notification'" (click)="activeLink.set('notification')"
                        class="navLink">
                        <img class="navIcon" src="../../../assets/Notification.svg" alt="Notification">
                </div>
                <div [class.active]="activeLink() === 'setting'" (click)="activeLink.set('setting')" class="navLink">
                        <img class="navIcon" src="../../../assets/Setting.svg" alt="Setting"></div>
                <div [class.active]="activeLink() === 'logout'" (click)="activeLink.set('logout')" class="navLink"><img
                                class="logOutIcon" src="../../../assets/LogOut.svg" alt="LogOut"></div>
        </div>
</div>