<div class="paymentDiv">
    <div (click)="goBack.emit()"><img src="../../../../../assets/Back.svg" alt="Go back to orders"></div>
    <div class="paymentHead">Payment</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem natus dignissimos quisquam aut illum aliquid
        laborum rem nulla? Magnam esse nemo quae, architecto et labore provident rerum, animi consequuntur earum
        explicabo odio nulla obcaecati asperiores assumenda impedit voluptates distinctio aliquam dolore? Odit ipsam, in
        esse soluta, quos ut officia eum eius culpa maiores facilis aperiam? Nostrum, cumque inventore. Ipsa, ipsum? Est
        dolore sed tempora porro provident error in ipsa incidunt deleniti repellat, asperiores excepturi consequuntur
        necessitatibus quis! Voluptates odit quidem hic numquam, minus facilis eum earum animi harum similique
        recusandae nulla amet molestias nesciunt dolor sint blanditiis tempore omnis iusto labore ipsa unde nihil
        distinctio! Est placeat ipsam laboriosam minus veniam ullam doloremque veritatis, deleniti quam sint recusandae
        dolorum ducimus corrupti eos maxime magni impedit nostrum id cupiditate? Exercitationem, saepe obcaecati
        assumenda nemo excepturi beatae. Earum numquam, molestiae sed nihil laudantium dicta repellendus quae commodi?
    </p>
</div>