.settingsDiv {
    padding: 24px;
    color: white;
}

.header {
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    margin-bottom: 24px;
}

.mainDivs {
    display: flex;
    align-items: start;
    gap: 24px;
}